<h1>Tabla Periódica</h1>
<table class="periodic-table">
  <tr>
    <td class="green">H</td>
    <td colspan="16"></td>
    <td class="blue">He</td>
  </tr>
  <tr>
    <td class="purple">Li</td>
    <td class="yellow">Be</td>
    <td colspan="10"></td>
    <td class="orange">B</td>
    <td class="green">C</td>
    <td class="green">N</td>
    <td class="green">O</td>
    <td class="cyan">F</td>
    <td class="blue">Ne</td>
  </tr>
  <tr>
    <td class="purple">Na</td>
    <td class="yellow">Mg</td>
    <td colspan="10"></td>
    <td class="pink">Al</td>
    <td class="orange">Si</td>
    <td class="green">P</td>
    <td class="green">S</td>
    <td class="cyan">Cl</td>
    <td class="blue">Ar</td>
  </tr>
  <tr>
    <td class="purple">K</td>
    <td class="yellow">Ca</td>
    <td class="red">Sc</td>
    <td class="red">Ti</td>
    <td class="red">V</td>
    <td class="red">Cr</td>
    <td class="red">Mn</td>
    <td class="red">Fe</td>
    <td class="red">Co</td>
    <td class="red">Ni</td>
    <td class="red">Cu</td>
    <td class="red">Zn</td>
    <td class="pink">Ga</td>
    <td class="orange">Ge</td>
    <td class="orange">As</td>
    <td class="green">Se</td>
    <td class="cyan">Br</td>
    <td class="blue">Kr</td>
  </tr>
  <tr>
    <td class="purple">Rb</td>
    <td class="yellow">Sr</td>
    <td class="red">Y</td>
    <td class="red">Zr</td>
    <td class="red">Nb</td>
    <td class="red">Mo</td>
    <td class="red">Tc</td>
    <td class="red">Ru</td>
    <td class="red">Rh</td>
    <td class="red">Pd</td>
    <td class="red">Ag</td>
    <td class="red">Cd</td>
    <td class="pink">In</td>
    <td class="pink">Sn</td>
    <td class="orange">Sb</td>
    <td class="orange">Te</td>
    <td class="cyan">I</td>
    <td class="blue">Xe</td>
  </tr>
  <tr>
    <td class="purple">Cs</td>
    <td class="yellow">Ba</td>
    <td class="brown">La-Lu</td>
    <td class="red">Hf</td>
    <td class="red">Ta</td>
    <td class="red">W</td>
    <td class="red">Re</td>
    <td class="red">Os</td>
    <td class="red">Ir</td>
    <td class="red">Pt</td>
    <td class="red">Au</td>
    <td class="red">Hg</td>
    <td class="pink">Tl</td>
    <td class="pink">Pb</td>
    <td class="pink">Bi</td>
    <td class="orange">Po</td>
    <td class="cyan">At</td>
    <td class="blue">Rn</td>
  </tr>
  <tr>
    <td class="purple">Fr</td>
    <td class="yellow">Ra</td>
    <td class="gray">Ac-Lr</td>
    <td class="red">Rf</td>
    <td class="red">Db</td>
    <td class="red">Sg</td>
    <td class="red">Bh</td>
    <td class="red">Hs</td>
    <td class="red">Mt</td>
    <td class="red">Ds</td>
    <td class="red">Rg</td>
    <td class="red">Cn</td>
    <td class="pink">Nh</td>
    <td class="pink">Fl</td>
    <td class="pink">Mc</td>
    <td class="pink">Lv</td>
    <td class="cyan">Ts</td>
    <td class="blue">Og</td>
  </tr>

  <tr class="lanth-act">
    <td colspan="3"></td>
    <td class="brown">La</td>
    <td class="brown">Ce</td>
    <td class="brown">Pr</td>
    <td class="brown">Nd</td>
    <td class="brown">Pm</td>
    <td class="brown">Sm</td>
    <td class="brown">Eu</td>
    <td class="brown">Gd</td>
    <td class="brown">Tb</td>
    <td class="brown">Dy</td>
    <td class="brown">Ho</td>
    <td class="brown">Er</td>
    <td class="brown">Tm</td>
    <td class="brown">Yb</td>
    <td class="brown">Lu</td>
  </tr>
  <tr class="lanth-act">
    <td colspan="3"></td>
    <td class="gray">Ac</td>
    <td class="gray">Th</td>
    <td class="gray">Pa</td>
    <td class="gray">U</td>
    <td class="gray">Np</td>
    <td class="gray">Pu</td>
    <td class="gray">Am</td>
    <td class="gray">Cm</td>
    <td class="gray">Bk</td>
    <td class="gray">Cf</td>
    <td class="gray">Es</td>
    <td class="gray">Fm</td>
    <td class="gray">Md</td>
    <td class="gray">No</td>
    <td class="gray">Lr</td>
  </tr>
</table>
